
#tb_title{
  background-color: #7FFF00;
  font-size: 20px;
}

#ingredient{
background-color: #7c5ee3;
font-size: 20px;
color: black;
}

#button{

  background-color: rgb(255, 193, 58) ;
}

#tb1{
  background-color: white;

}

#title1{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: white;
  width: 25%;
  border-radius: 20%;
}

#ticket{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 25%;
  border-radius: 20%;
}

#btn_pedidos{

  width: 15%;
  height: 40px;
  background-color: rgb(158, 148, 0);
  border-radius: 15%;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

#btn_reset{

  width: 15%;
  height: 40px;
  background-color: rgb(158, 5, 0);
  border-radius: 15%;
  color: rgb(0, 0, 0);
  font-size: 18px;


}