* {
    margin: 0;
    padding: 0;
}


#sidebar ul li{

    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgb(174, 174, 174);

}

.img_perfil{

    border-radius: 80%;
    display: block;
    margin:0 auto;

}

/*Estilo para el menu Horizontal*/
nav {
    background-image: url(../A_Img/bg_index.jpg);
    display: flex;
    padding-left: 5%;
    align-items:center;
    justify-content: left;
    padding-top: 0px;
    padding-right: 5%;
    font-weight: bold;
    text-align: center;

ul li {
    display: inline-block;
    padding: 0px 30px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: aqua;
}

.Cu_uaem{
background-color: white;

border-radius: 15%;
padding-left: 0%;
display: flex;
text-align: left;
width: 100px;
height: 100px;
}


#reloj{

    color: white;

}
}